# Spark
spark-2.3.1-bin-hadoop2.7/*
graph_install/*
metastore_db/*
pagerank/metastore_db/*
derby.log

# Jupyter notebook
.ipynb_checkpoints/*
pagerank/.ipynb_checkpoints/*
brouillon.ipynb

# PyCharm
.idea/*
*.pyc

# Datas
wordcount_1_text/data/*
tf-idf/data/*
tf-idf/temp/*
tree_of_paris/data/*
pagerank/data/*
